# <%= app_name.humanize %>

* [ ] What is this app?

## Key Concepts

* [ ] What are the key concepts?

## User stories

* [ ] Who are the users?
* [ ] What do they want?
* [ ] What do they need?
* [ ] What are the user stories?
